html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

h2 {
	font-family: "Benton Sans", sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.1px;
}

body {
	color: #333;
	height: auto !important;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

// a:hover {
// 	text-decoration: underline;
// }
//
// a:visited {
// 	color: rgb(0,80,160);
// }

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#widgetContainer {
	max-width: 970px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 0;
}

.candidateContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	font-family: "Popular", Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 210px;
	margin-right: 10px;
	margin-left: 0px;

	a.rightLink {
		display: none;
		font-family: "Benton Sans", sans-serif;
		font-weight: normal;
		text-transform: capitalize;
		font-size: 10px;
		color: #231F20;
	}

	.text a {
		font-family: "Benton Sans", sans-serif;
		font-weight: normal;
		text-transform: none;
		font-size: 10px;
		line-height: 120%;
		color: #231F20;
		max-width: 80px;
	}

	h3 {
		font-family: "Benton Sans", sans-serif;
		font-size: 13px;
		letter-spacing: 0.4px;
		margin-bottom: 2px;
		margin-top: 0;
	}

	.text {
		display: flex;
		flex-direction: column;
		margin-left: 5px;
	}

	img {
		width: 36px;
		margin-top: -28px;
		margin-left: -4px;
	}
}

.candidate {
	// margin: 20px;
	margin: 0 0 0 15px;
	padding-left: 15px;
	display: flex;
	align-items: center;
	max-width: 230px;
	border-left: .25px solid #D7D7D7;

	.mug {
		width: 56px;
		margin-right: 10px;
	}

	.results {
		display: inline-block;

		.winner {
			// font-weight: bold;
		}

		.pct {
			font-family: "Popular";
		}

		.votepct .no-winner-pct {
			color: #B0B0B0;
		}


	}

	.votecount {
		font-family: "Benton Sans", sans-serif;
		font-size: 9px;
		letter-spacing: 0.5px;
	}

	.votepct {
		font-family: "Benton Sans", sans-serif;
		font-size: 24px;
	}
}

p.lastUpdated {
	font-family: "Benton Sans", sans-serif;
	font-size: 7.5px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #2A2A2A;
	margin-top: 0;
	margin-left: .75em;
}

.results {
	h2 {
		margin-top: 0;
		margin-bottom: 2px;
	}
}

@media (max-width: 850px) {

	h2 {
		font-size: 10px;
		// max-width: 50px;
	}
	//
	.candidate {
		max-width: 175px;
		margin: 10px;
		.mug {
			width: 56px;
			margin-right: 5px;
		}

		// .votepct {
		// 	font-size: 9.5px;
		// }
		//
		// .votecount {
		// 	font-size: 9.5px;
		// }
	}

	.logo {
			img {
				margin-top: -28px;
				margin-left: 2px;
			}
	}
}

@media (max-width: 725px) {
	.logo {
		img {
			margin-top: -40px;
			margin-left: 2px;
		}
	}
}

@media (max-width: 800px) {

	.candidateContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		// align-items: center;
	}

	.logo {
		// justify-content: space-between;
		margin-right: 0;
		margin-top: 0;
		width: 100%;
		max-width: none;
		height: 24px;
		border-top: 0.5px solid #D7D7D7;
		border-bottom: 0.5px solid #d7d7d7;
		a {
			display: none;
		}
		a.rightLink {
			display: block;
			position: absolute;
			right: 8px;
		}

		h3 {
			margin-bottom: 0;
		}

		img {
			margin-top: 0;
			margin-left: 3px;
			z-index: 100;
		}
	}

  #widgetContainer {
		flex-direction: column;
	}

	p.lastUpdated {
		text-align: center;
		margin-top: 7px;
	}

	.candidate:nth-of-type(1) {
		border-left: none;
		padding-left: 0;
	}

	.candidate:nth-of-type(5) {
		display: none;
	}

}

@media (max-width: 600px) {
	.candidate {
		.mug {
			display: none;
		}
	}

	.candidateContainer {
		margin-top: 5px;
	}
}

@media (max-width: 375px) {

	.candidate:nth-of-type(4){
		display: none;
	}
}
