html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

h2 {
	font-size: 13px;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#widgetContainer {
	max-width: 970px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 8px;
	padding-bottom: 0;
}

.candidateContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	font-family: "Popular", Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 210px;
	margin-right: 10px;

	a.rightLink {
		display: none;
		font-family: "Benton Sans", sans-serif;
		text-transform: capitalize;
		font-size: 10px;
		color: #a9a9a9;
	}

	.text a {
		font-family: "Benton Sans", sans-serif;
		text-transform: capitalize;
		font-size: 10px;
		color: #a9a9a9;
	}
	h3 {
		font-size: 16px;
		margin-bottom: 0;
		margin-top: 0;
	}

	.text {
		display: flex;
		flex-direction: column;
		margin-left: 5px;
	}

	img {
		width: 40px;
	}
}

.candidate {
	margin: 20px;
	display: flex;
	align-items: center;
	max-width: 230px;
	.mug {
		width: 75px;
		margin-right: 10px;
	}

	.results {
		display: inline-block;

		.winner {
			font-weight: bold;
		}
	}

	.votecount {
		font-size: 11px;
	}

	.votepct {
		font-size: 13px;
	}
}

p.lastUpdated {
	font-family: "Benton Sans", sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	color: #888888;
	margin-top: 0;
	margin-bottom: 12px;
	margin-left: 1em;
}

.results {
	h2 {
		margin-top: 0;
		margin-bottom: 2px;
	}
}

@media (max-width: 850px) {

	h2 {
		font-size: 10px;
		// max-width: 50px;
	}
	//
	.candidate {
		max-width: 175px;
		margin: 10px;
		.mug {
			width: 60px;
			margin-right: 5px;
		}

		.votepct {
			font-size: 9.5px;
		}

		.votecount {
			font-size: 9.5px;
		}
	}
}

@media (max-width: 600px) {

	.logo {
		// justify-content: space-between;
		margin-right: 0;
		width: 100%;
		max-width: none;
		a {
			display: none;
		}
		a.rightLink {
			display: block;
			position: absolute;
			right: 8px;
		}
	}

  #widgetContainer {
		flex-direction: column;
	}

}

@media (max-width: 450px) {
	.candidate {
		.mug {
			width: 40px;
		}

		.votecount {
			display: none;
		}
	}

	.candidate {
		margin: 3px;
		padding: 2px;
	}

	.candidate:nth-of-type(4){
		display: none;
	}
}
